.navbar{
    /* border: 1px solid black; */
    display: block;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    text-align: left;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    left: 1;
    height: 110px;
    width: 100%;
    padding-top: 2px;
    padding-left: 2px;
    
 }
 a{
    text-decoration: none;
    
 }
 .Sign{
    /* border: 1px solid black; */
   margin-left: 500px;
   height: 30px;
   width: 350px;
   display: flex;
   justify-content: space-evenly;
   position: relative;
    top: 50px;
    font-size:x-large;
 }
 
 #menu,#deal{
    position: relative;
    top: 50px;
    font-size:x-large;
    color: black;
 }
 #logo img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
 }
 .navbar a:hover{
    color: #c91c53;
 }
 .navbar>a:nth-child(2){
    margin-left: 3%;
    font-size: large;
 }
 .navbar>a:nth-child(3){
    margin-left: 3%;
    font-size: large;
 }
 .navbar>a:nth-child(4){
    margin-left: 60%;
 }
 .navbar>a:nth-child(5){
   font-size: large;
 }
 .navbar>a:nth-child(6){
   font-size: xx-large;
   color: grey;
padding-bottom: 40%;
 }
 .navbar>a:nth-child(7){
   font-size: xx-large;
 }
 #user>img{
    height: 30px;
    width: 30px;
 }
 #cart>img{
   /* border: 1px solid black; */
    height: 30px;
    width: 40px;
    margin-left: 2px;
 }
#two{
    width: auto;
}


#cartbody{
    margin-top: 120px;
}

#container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



#container>div{
    /* border: 1px solid black; */
    /* display: flex; */
    width: 50%;
    height: auto;
    padding-left: 5px;
    padding-bottom: 5px;
    /* gap: 10px; */
}
#container>div>img{
    height: 100px;
    width: 100px;
}


.Lbottom{
    /* border: 1px solid black; */
    height: 300px;
    width: 100%;
    display: flex;
    background-color: black;
  }
 
  .Lbottom>div:first-child{
    margin-top: 30px;
    margin-left: 70px;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
  }
  .Lbottom>div:nth-child(2){
    /* margin-left: 2px; */
    margin-top: 30px;
    height: 200px;
    width: 180px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
  }
  .Lbottom>div:nth-child(3){
    /* margin-left: 2px; */
    margin-top: 30px;
    height: 200px;
    width: 180px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
  }
  .Lbottom>div:nth-child(4){
    /* margin-left: 2px; */
    margin-top: 30px;
    height: 200px;
    width: 180px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
  }
  .Lbottom>div:nth-child(5){
    /* margin-left: 2px; */
    margin-top: 30px;
    height: 200px;
    width: 180px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
  }
  .Lbottom>div:nth-child(6){
    /* margin-left: 2px; */
    margin-top: 30px;
    height: 100px;
    width: 180px;
    color: white;
    /* border: 1px solid red; */
    padding-top: 20px;
  }
  .Lbottom>div:nth-child(6) a{
    color: white;
  }
  .Lbottom>div:nth-child(7){
    margin-top: 30px;
    height: 100px;
    width: 180px;
    /* border: 1px solid red; */
    padding-top: 10px;
  }
  .Lbottom>div:nth-child(8){
    /* margin-left: 2px; */
    margin-top: 30px;
    height: 100px;
    width: 180px;
    /* border: 1px solid yellow; */
    padding-top: 10px;
    display: flex;
    color: white;
  }
  .Lbottom>div:nth-child(8) img{
    
    /* border: 1px solid yellow; */
    position: relative;
    top: 2px;
    left:10px;
    border-radius: 50px;
   
  }
  .Lbottom>div:nth-child(8) a{
    color: white;
  }