.main{
    height: 500px;
    width: 500px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}
/* h5,h4{
    text-align: center;
} */
#logo img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
 }
#typenumber{
    width: 450px;
    height: 30px;
    border-left: black;
    border-right: black;
    border-top: black;
 }
 #code{
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
 }
 #skip{
    background-color: black;
    color: white;
    height: 40px;
    width: 450px;
    text-align: center;
    border-radius: 20px;
 }
 a{
    text-decoration: none;
    color: white;
 }